<div class="mt-8 flex justify-center">
  <div class="inline-flex rounded-md shadow">
    <button type="button" (click)="useLanguage('en')"
            class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-indigo-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      English
    </button>
  </div>
  <div class="ml-3 inline-flex">
    <button type="button" (click)="useLanguage('de')"
            class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-indigo-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Deutsch
    </button>
  </div>
</div>
