/* Virtual Scroll Viewport Styling */
cdk-virtual-scroll-viewport {
  display: block;
}

/* Line clamp utility for description */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Dark mode hover state */
.dark .dark\:hover\:bg-gray-750:hover {
  background-color: rgb(31, 41, 55);
}
