<div class="bg-white pt-8">
  <main>
    <div class="relative pb-10">
      <div class="absolute inset-x-0 bottom-0 h-1/2"></div>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
          <div class="absolute inset-0">
            <img class="h-full w-full object-cover"
                 src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100"
                 alt="People working on laptops">
            <div class="absolute inset-0 bg-gradient-to-r from-purple-800 to-indigo-700 mix-blend-multiply"></div>
          </div>
          <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
            <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
              <span class="block text-white">{{ 'home.headline' | translate }}</span>
            </h1>
            <p
              class="mt-6 max-w-lg mx-auto text-center text-xl text-indigo-200 sm:max-w-3xl">{{ 'home.text' | translate }}</p>
            <app-language-switch></app-language-switch>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="bg-white">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8">
      <div class="max-w-3xl mx-auto text-center">
        <h2 class="text-3xl font-extrabold text-gray-900">{{'home.ngrx.title' | translate}}</h2>
        <p class="mt-4 text-lg text-gray-500">{{'home.ngrx.description' | translate}}</p>
      </div>
      <div class="max-w-3xl mx-auto pt-6">
        <div>
          <div class="mt-1">
          <textarea [(ngModel)]="userInput" (ngModelChange)="hideUserInput()" rows="4"
                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full border-gray-300 rounded-md"></textarea>
            <div class="mt-8 flex justify-center">
              <button type="button" (click)="storeUserInput()"
                      class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-indigo-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                {{'home.ngrx.button' | translate}}
              </button>
            </div>
          </div>
          <p *ngIf="displayUserInput"
             class="block text-xl font-medium text-gray-700 pt-6">{{'home.ngrx.message' | translate}}{{userInput}}</p>
        </div>
      </div>
    </div>
  </div>
  <app-feature-overview></app-feature-overview>
</div>
