<!-- Full-width fluid until the `md` breakpoint, then lock to container -->
<div class="md:container md:mx-auto">
  <div class="bg-white">
    <div class="max-w-7xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        <span class="block pb-10">{{ 'home.headline' | translate }}</span>
        <span class="block">{{ 'home.text' | translate }}</span>
      </h2>
    </div>
    <app-language-switch></app-language-switch>
  </div>
</div>
